<!DOCTYPE html>
<html>
	<head>
  		<title>Attendance</title>
  		<%= stylesheet_link_tag   'attendance/application.css', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>	
	</head>
	<body>
		<%=render "attendances/header" %>
		<%= yield %>
		<%=render "footer" %>
	</body>
</html>
